
.about-main__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;

  border-bottom: 1px solid var(--color-dark);

  font: 400 22px/27px Inter, Arial, sans-serif;
  letter-spacing: -0.04em;
}


@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 800px) {

}


@media screen and (max-width: 500px) {
  .about-main__subtitle {
    padding-bottom: 28px;
  
    font: 400 18px/22px Inter, Arial, sans-serif;
  
  }
}
