.header {
  margin: 0;
  padding: 18px 70px;
  box-sizing: border-box;

  display: flex;
  position: relative;
  justify-content: space-between;
}
.header_dark {
  background-color: rgba(7, 48, 66, 1);
}
.header_short {
  margin: 0 auto 0;
  padding: 70px 0 0;
  width: 460px
}

.header__logo-link {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header__logo-link:hover {
  opacity: 0.8;
}

.header__logo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 38px;
  height: 38px;
  background-image: url(../../images/logo.png);
}

.header__link-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  position: relative;
  align-items: center;
}

.header__account-button {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;

  background-color: transparent;
  border-radius: 16px;
  border-width: 0;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.08);

  min-width: 32px;

  text-decoration: none;

  display: flex;
  position: relative;
  align-items: center;
}
.header__account-button_accent {
  background-color: var(--color-accent);
}
.header__account-button:hover {
  opacity: 0.8;
}

.header__account-text {
  margin: 0;
  padding: 6px 9px;
  box-sizing: border-box;

  font: 500 13px/1 Inter;
  color: black;
}

.header__account-icon {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 26px;
  height: 26px;
  border-width: 0;
  border-radius: 13px;

  background: rgba(249, 249, 249, 1) url(../../images/account_icon.png) center / 11px 11px no-repeat; 
}

.header__registration-link {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font: 500 12px/16px Inter;
  text-decoration: none;
}
.header__registration-link:hover {
  opacity: 0.7;
}

.header__entrance-link {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;

  border-width: 0;
  border-radius: 3px;
  background-color: var(--color-accent);

  font: 500 12px/16px Inter;
  min-height: 32px;
  width: 76px;

  text-decoration: none;
  color: black;
  text-align: center;
}
.header__entrance-link:hover {
  opacity: 0.8;
}

.neader__navigation-bar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.neader__navigation-bar_long {
  display: flex;
}
.neader__navigation-bar_short {
  display: none;
  z-index: 1;
  top: 70px;
}

.header__menu-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: none;

  font: 900 40px/40px Inter;

  cursor: pointer;
}
.header__menu-button:hover {
  opacity: 0.7;
}
.header__menu-button_dark {
  color: white;
}


@media screen and (max-width: 1000px) {
  .header {
    padding: 18px 50px;
  }
}


@media screen and (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
}


@media screen and (max-width: 500px) {
  .header {
    padding: 18px 10px;
  }

  .neader__navigation-bar_long {
    display: none;
  }

  .neader__navigation-bar_short {
    display: block;
    opacity: 0;

    transition: opacity 0.5s linear;
  }

  .neader__navigation-bar_short_visible {
    opacity: 1;
  }

  .header__registration-link {
    margin-right: 14px;
    font: 500 10px/16px Inter;
  }

  .header__entrance-link {
    font: 500 10px/16px Inter;
    width: 56px;
    min-height: 26px;
  }

  .header__menu-button {
    display: block;
  }

  .header__account-button {
    display: none;
  }
}